<section>
  <div class="container">
    <div class="about">
      <div class="about-details" appFade="up" [delay]="200">
        <h2>About Me</h2>
        <h3 class="subtitle">An enthusiastic Full-Stack Developer based in Canada</h3>
        <p class="first-desc">Welcome to my Portfolio! I'm Pathik, a highly motivated and skilled Software Engineer with a passion for crafting efficient, scalable, and robust software solutions. With <b>2 years of experience</b> in the industry, I thrive in dynamic environments where innovation and collaboration are key. 
<br><br>
        <b>Technical Expertise:</b> My expertise spans across a wide array of technologies, including <b>Java, Spring Boot, Python, NodeJS, NextJS, Express, React, Angular, Junit, Mockito</b> and more. I'm proficient in cloud computing platforms like <b>Microsoft Azure</b>, with experience in containerization using <b>Docker and Kubernetes</b>. My strong understanding of software development methodologies, including <b>Agile and Scrum</b>, has enabled me to collaborate effectively with teams and deliver results-driven solutions. 
          </p>
           <a href="assets/Pathik_Resume.pdf" download="Pathik_Resume">
          <button class="btn">Download CV</button>
        </a>
      </div>
      <!-- <div class="about-img" appFade="up">
        <img ngSrc="assets/img/about.png" alt="Pathik Patel" width="1200" height="800">
      </div> -->
    </div>
  </div>
</section>
